<nav class="menu">
  <div class="menu-logo">
    <span>4Func</span>
  </div>

  <ul class="menu-list">
    <li
      *ngFor="let item of menuItems"
      class="menu-item"
      (click)="navigate(item.route)"
      routerLinkActive="active"
    >
      <span class="icon">{{ item.icon }}</span>
      <span class="label">{{ item.label }}</span>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- <div class="container">
  <div class="content-well">
    <h2>Wellcome to 4Func!</h2>
    <p>This is a website where the developer implements simple methods that can be useful in everyday life.</p>
    <span>The site does not intend to make a profit, any charges on this domain must be refused.</span>
  </div>
</div> -->
