<div class="romano-container">
  <form class="romano-form" (ngSubmit)="converter()">
    <h2>Conversor de Números Binários</h2>

    <div class="form-group">
      <label for="valor">Valor</label>
      <input
        type="number"
        id="valor"
        name="valor"
        placeholder="Digite aqui..."
        [(ngModel)]="valor"
        required
      />
    </div>

    <div class="form-group">
      <label for="conversao">Tipo de Conversão</label>
      <select id="conversao" name="conversao" [(ngModel)]="tipoConversao">
        <option value="binario">Decimal → Binário</option>
        <option value="decimal">Binário → Decimal</option>
      </select>
    </div>

    <div class="form-group resultado">
      <label for="resultado">Resultado</label>
      <input
        type="text"
        id="resultado"
        name="resultado"
        [value]="resultado"
        readonly
      />
    </div>

    <button type="submit">Converter</button>
  </form>
</div>
