<div class="romano-container">
  <form class="romano-form" (submit)="calcularRegraDeTres()">
    <h2>Conversor de Números Binários</h2>

    <div class="form-group">
      <input
        type="number"
        id="valor1"
        name="valor1"
        placeholder="Valor 1"
        [value]="valor1"
        (input)="valor1 = $any($event.target).value1"
        required
      />
      <p>→</p>
      <input
        type="number"
        id="valor2"
        name="valor2"
        placeholder="Valor 2"
        [value]="valor2"
        (input)="valor2 = $any($event.target).value2"
        required
      />
    </div>

    <div class="form-group">
    </div>

    <div class="form-group">
      <input
        type="number"
        id="valor3"
        name="valor3"
        placeholder="Valor 3"
        [value]="valor3"
        (input)="valor3 = $any($event.target).value3"
        required
      />
      <p>→</p>
      <input
        class="resultado"
        type="text"
        id="resultado"
        name="resultado"
        placeholder="Resultado"
        [value]="resultadoRT"
        readonly
      />
    </div>

    <button type="submit">Converter</button>
  </form>
</div>
