<div class="div-container">
  <form class="div-form" (ngSubmit)="calcularRegraDeTres()">
    <h2>Calculadora de Regra de Três</h2>

    <div class="form-group">
      <input type="number" [(ngModel)]="valor1" name="valor1" placeholder="Valor 1" required />
      <p>→</p>
      <input type="number" [(ngModel)]="valor2" name="valor2" placeholder="Valor 2" required />
    </div>

    <div class="form-group">
      <input type="number" [(ngModel)]="valor3" name="valor3" placeholder="Valor 3" required />
      <p>→</p>
      <input class="resultado" type="text" [value]="resultadoRT" placeholder="Resultado" readonly />
    </div>

    <button type="submit">Converter</button>
  </form>
</div>
